{% extends 'base.html.twig' %}

{% block body %}
    <div class="row-fluid">
        {% for book in books %}
            {{ book.title }}
            <br>
        {% endfor %}
        <!-- Pagination -->
        {% include 'pagination.html.twig' with {'current_page': 'books_index', 'items': books} %}
        <!-- /Pagination -->
    </div>
{% endblock %}
