{% extends 'base.html.twig' %}

{% block body %}
    <div class="row-fluid">
        {% for book in books %}
            {{ book.title }}
            <hr>
        {% endfor %}
    </div>
{% endblock %}
