{% extends 'base.html.twig' %}

{% block body %}
    <div class="row-fluid">
        <h1>Hello, world!</h1>
        <p>This is a main page text.</p>
        <p>Let's imagine that there is something useful :)</p>
    </div>
{% endblock %}
