.select-with-text .input-group label, .select-with-text .input-group select {
    width: auto !important;
    display: inline-block;
}

#books_per_page_input {
    width: 45px;
}

#genre_input {
    width: 110px !important;
}